.detailsDiv{
    background-color: white;
    width: 75%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}
#genreUl{
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
    padding-bottom: 5px;
}
.detailsPoster{
    padding: 5px;
}
.detailsPara{
    padding-top: 10px;
}