.homeHeader{
    display: flex;
    flex-direction: row;
    background-image: url("/images/bladerunner042.jpg");
    background-position: center;
    padding-bottom: 200px;
}
.addMovieButton{
    position: absolute;
    right: 5%;
    top: 12%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.addMovieButton:hover{
    font-size: 200%;
    transition: .3s ease;
}
.HomeButton{
    position: absolute;
    right: 6%;
    top: 5%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.HomeButton:hover{
    font-size: 200%;
    transition: .3s ease;
}